.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:180px;
}
.main h1{
  font-size:2em;
}
.img_collection {
  display: flex;
  align-content: flex-start;
  
  margin-top: 50px;
  flex-wrap: wrap;
  width:1600px;
}
.img_collection:nth-of-type(1){
  justify-content: center;
}
.img_home {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 18vh;
  margin: 2em;
  background: rgb(255, 255, 255);
}

.img_home img {
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.inner_image {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.board{
  margin-top:50px;
}
.board .board_title{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.board .board_title h3{
  flex-grow: 1;
  margin-left: 1em;
}

.btn_post button {
  border: none;
}

.one {
  width: 300px;
  margin-top: 150px;
}


